.non-active-button{
    color: blue;
    padding: 10px;
    padding-right: 260px;
    font-family: Roboto;
    font-size: 18px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.non-active-button a {
  border-radius: 50px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-left: 10px;
  font-family: "Roboto";
  background-color: #1a8ffc;
  padding: 10px;
  color: #ffffff;
  font-size: 15px;
}

.non-active-button a:hover{
    color: #1a8ffc;
    background-color: #ffffff;
    border: 1px solid #1a8ffc;
    font-family: "Roboto";
    font-weight: 600;
}


.active-btn a{
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 15px;
    cursor: pointer;
    color: #1a8ffc;
    background-color: #ffffff;
    border: 1px solid #1a8ffc;
}